:root {
  --header-color: #425969;
  --bg: #303030;
  --add-btn: #ebff00;
  --todo-light: #feffbd;
  --todo-dark: #fcff7c;
  --todo-border: #ff7878;
  --todo-check: #94ff6f;
  --note-light: #bdfff3;
  --note-dark: #7cffef;
  --note-border: #ebff00;
  --note-check: #2e8eff;
  --list-bg: #bdffc0;
  --recetario: #2e8eff;
  --note-check: #e28eff;
  --black: #000;
  --grey-info: #f4f4f4;
  --grey: rgb(119, 119, 119);
  --white: #fff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
